@page
@using ECommerce.Models
@model ECommerce.Pages.ShopPage.ShopPageModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" style="text/css" />


<div class="">
    <h2 class="shop-header">Our products</h2>
</div>

<hr class="my-4">


<br />


<p class="h4">Sofas</p>
<div class="d-flex flex-wrap align-items-center">
    @for (int i = 0; i < @Model.couches.Count; i++)
    {
        <div class="col-md-2 col-lg-2 col-xl-2 mb-4 pe-4">
            <a asp-page="/ProductPage/Product" asp-route-id="@Model.couches[i].ProductId">
                <img src="@($"/images/{Model.couches[i].Category}{Model.couches[i].ProductId}.png")" class="img-fluid rounded-3" alt="@Model.couches[i].Description" />
            </a> <!-- IMAGE -->
        </div>
    }
</div>

<hr class="my-4">

<p class="h4">Armchairs</p>
<div class="d-flex flex-wrap align-items-center">
    @for (int i = 0; i < @Model.armchairs.Count; i++)
    {
        if (@Model.armchairs[i].Category == "Armchair")
        {
            <div class="col-md-2 col-lg-2 col-xl-2 mb-4 pe-4">
                <a asp-page="/ProductPage/Product" asp-route-id="@Model.armchairs[i].ProductId">
                    <img src="@($"/images/{Model.armchairs[i].Category}{Model.armchairs[i].ProductId}.png")" class="img-fluid rounded-3" alt="@Model.armchairs[i].Description" />
                </a> <!-- IMAGE -->
            </div>
        }
    }
</div>